.mb-smallest {
  margin-bottom: 1rem !important; }

.mb-small {
  margin-bottom: 2rem !important; }

.mb-medium {
  margin-bottom: 4rem !important; }

.mb-large {
  margin-bottom: 6rem !important; }

.mb-huge {
  margin-bottom: 8rem !important; }

.mt-small {
  margin-top: 2rem !important; }

.mt-medium {
  margin-top: 4rem !important; }

.mt-large {
  margin-top: 6rem !important; }

.mt-huge {
  margin-top: 8rem !important; }

.fs-super-small {
  font-size: 1rem !important; }

.fs-small {
  font-size: 2rem !important; }

.fs-medium {
  font-size: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .fs-medium {
      font-size: 3rem !important; } }
  @media only screen and (max-width: 31.25em) {
    .fs-medium {
      font-size: 2rem !important; } }

.fs-large {
  font-size: 6rem !important; }

.fs-huge {
  font-size: 8rem !important; }

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  background-color: #1f222e;
  min-width: 320px; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #d9c4c4; }

::selection {
  background-color: transparent;
  color: #11cece; }

.heading-primary {
  user-select: none;
  font-size: 15rem;
  line-height: 1;
  color: #d9c4c4; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 12rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-primary {
      font-size: 8rem; } }

.stroke {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff; }
  .stroke--gl {
    -webkit-text-stroke: 1px #d9c4c4;
    text-stroke: 1px #d9c4c4; }

.heading-secondary {
  user-select: none;
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: 1.3rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media only screen and (max-width: 25em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary--tl-td {
    background: linear-gradient(120deg, #ffb900 0%, #ff5630 50%, #ffb900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .heading-secondary--sl-sd {
    background: linear-gradient(120deg, #11cece 0%, #432ECF 50%, #11cece 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.hero-video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1; }

.btn-anim-1 {
  position: relative;
  overflow: hidden;
  transition: transform .3s;
  z-index: 10; }
  .btn-anim-1:link, .btn-anim-1:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 10px; }
    .btn-anim-1:link .btn-anim__text, .btn-anim-1:visited .btn-anim__text {
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      font-weight: 100;
      user-select: none;
      transition: color .3s ease-in; }
      .btn-anim-1:link .btn-anim__text--gl-tl, .btn-anim-1:visited .btn-anim__text--gl-tl {
        color: #d9c4c4; }
    .btn-anim-1:link::before, .btn-anim-1:link::after, .btn-anim-1:visited::before, .btn-anim-1:visited::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: transform 0.4s cubic-bezier(0.36, 0, 0.66, -0.56); }
    .btn-anim-1:link::before, .btn-anim-1:visited::before {
      background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #1f222e 50%);
      transform: translateX(50%); }
    .btn-anim-1:link::after, .btn-anim-1:visited::after {
      background-image: linear-gradient(315deg, transparent 0%, transparent 50%, #2b303d 50%);
      transform: translateX(-50%); }
  .btn-anim-1--sec:link, .btn-anim-1--sec:active {
    background-image: linear-gradient(120deg, #432ECF, #11cece); }
  .btn-anim-1:hover, .btn-anim-1:active {
    transform: scale(1.05); }
    .btn-anim-1:hover .btn-anim__text--gl-tl, .btn-anim-1:active .btn-anim__text--gl-tl {
      color: #ffb900; }
    .btn-anim-1:hover::before, .btn-anim-1:hover::after, .btn-anim-1:active::before, .btn-anim-1:active::after {
      transform: translateX(0); }

.personal-info__list {
  list-style: none;
  text-align: left;
  margin-left: 5rem; }
  @media only screen and (max-width: 75em) {
    .personal-info__list {
      margin-left: 2rem; } }

.personal-info__item {
  font-size: 2rem;
  margin: .5rem 0;
  font-weight: 300;
  text-transform: uppercase; }

.personal-info .icon {
  color: #11cece; }

.skills__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.skills__item {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #432ECF;
  padding: .1rem 1rem;
  margin: .5rem 1rem;
  border-radius: 15px; }

.social__icons {
  display: flex;
  justify-content: center; }

.social__icon {
  font-size: 4rem;
  margin: 0 2rem;
  color: #d9c4c4; }

@media only screen and (max-width: 56.25em) {
  .social__discord-iframe {
    display: none; } }

.footer {
  position: relative;
  grid-column: col-start 1 / -1;
  height: 30rem;
  background-color: #2b303d;
  text-align: center; }
  .footer__text {
    width: 100%;
    position: absolute;
    bottom: 3em;
    display: block;
    text-align: center;
    color: #d9c4c4;
    font-size: 2rem;
    z-index: 1; }

.custom-shape-divider-top-1640817271 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-top-1640817271 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 172px; }

.custom-shape-divider-top-1640817271 .shape-fill {
  fill: #1F222E; }

.container {
  display: grid;
  grid-template-rows: 70rem;
  grid-template-columns: repeat(8, [col-start] 1fr [col-end]); }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 50rem; } }

.hero {
  grid-column: col-start 1 / -1;
  position: relative;
  background-size: cover;
  overflow: hidden;
  background-image: linear-gradient(120deg, rgba(43, 48, 61, 0.5), rgba(31, 34, 46, 0.5)); }
  .hero__content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center; }
  .hero .custom-shape-divider-bottom-1640786507 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg); }
  .hero .custom-shape-divider-bottom-1640786507 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 188px; }
    @media only screen and (max-width: 31.25em) {
      .hero .custom-shape-divider-bottom-1640786507 svg {
        width: calc(150% + 1.3px);
        height: 150px; } }
  .hero .custom-shape-divider-bottom-1640786507 .shape-fill {
    fill: #1F222E; }

.about {
  grid-column: col-start 1 / -1;
  position: relative;
  background-color: #1f222e;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center; }
  @media only screen and (max-width: 56.25em) {
    .about {
      flex-direction: column;
      align-items: center;
      margin: 0 5rem; } }
  .about > * {
    width: 100%;
    background-color: #2b303d;
    text-align: center;
    margin: 4rem;
    border-radius: 30px; }
