@import "abstracts/variables";
@import "abstracts/utils";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";

@import "components/hero-video";
@import "components/button-anim-1";
@import "components/personal-info";
@import "components/skills";
@import "components/social";

@import "layout/footer";

@import "pages/home";
