.skills {
    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-block;
        font-size: 1.5rem;
        background-color: $color-secondary-dark;
        padding: .1rem 1rem;
        margin: .5rem 1rem;
        border-radius: 15px;
    }
}