body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-light-1;
}

::selection {
    background-color: transparent;
    color: $color-secondary-light;
}

.heading-primary {
    user-select: none;
    font-size: 15rem;
    line-height: 1;
    color: $color-grey-light-1;

    @media only screen and (max-width: $bp-medium) {
        font-size: 12rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 8rem;
    }
}

.stroke {
    color: transparent;
    -webkit-text-stroke: 1px $color-white;
    text-stroke: 1px $color-white; //for new browsers

    &--gl {
        -webkit-text-stroke: 1px $color-grey-light-1;
        text-stroke: 1px $color-grey-light-1; //for new browsers
    }
}


.heading-secondary {
    user-select: none;
    text-transform: uppercase;
    font-size: 7rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 4rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 3rem;
    }

    font-weight: 100;
    letter-spacing: 1.3rem;


    &--tl-td {
        background: linear-gradient(120deg, $color-tertiary-light 0%, $color-tertiary-dark 50%, $color-tertiary-light 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    &--sl-sd {
        background: linear-gradient(120deg, $color-secondary-light 0%, $color-secondary-dark 50%, $color-secondary-light 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}