.mb-small {
    margin-bottom: 2rem !important;
}

.mb-medium {
    margin-bottom: 4rem !important;
}

.mb-large {
    margin-bottom: 6rem !important;
}

.mb-huge {
    margin-bottom: 8rem !important;
}

.mt-small {
    margin-top: 2rem !important;
}

.mt-medium {
    margin-top: 4rem !important;
}

.mt-large {
    margin-top: 6rem !important;
}

.mt-huge {
    margin-top: 8rem !important;
}

.fs-super-small {
    font-size: 1rem !important;
}

.fs-small {
    font-size: 2rem !important;
}

.fs-medium {
    font-size: 4rem !important;
}

.fs-large {
    font-size: 6rem !important;
}

.fs-huge {
    font-size: 8rem !important;
}
