$color-primary-light: #2b303d;
$color-primary-dark: #1f222e;

$color-secondary-dark: #432ECF;
$color-secondary-light: #11cece;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff5630;


$color-grey-light-1: #d9c4c4;
$color-grey-dark-1: #3c3c3c;

$color-white: #fff;

//BREAKPOINTS
$bp-large: 75em;
$bp-medium: 56.25em;
